/*== Reset & Clearfix */
html, body
{ 
	height: 100%; 
	margin: 0;
	padding: 0;
}

html, body, ul, ol, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
	border:0;
	outline: none;
}

body 
{
	background: #ecfabd;
	font-family: "LicensePlate";
	line-height: 22px;
	color: #3a3a3a;
}

body, .green1{
	background: #ecfabd;
}

body, .green2
{
	background: #ffffcf;
}

body, .green3
{
	background: #eee9bc;
}

body, .yellow
{
	background: #fafdb4;
}


img
{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: none;
	-ms-interpolation-mode: bicubic;

}

ul{
	font-family: 'Text Me One', sans-serif;
	text-transform: uppercase;
}

p{
	padding: 0;
	margin-top: 1em;
	margin-bottom: 15px;
}


span
{
	color: #aaaaaa;
	font-size: 13px;
}
b{ color: #36d7b7; }


h1
{
	font-size: 34px;
	word-spacing: 1px;
	line-height: 40px;
}

a { text-decoration: none; }

ol, ul 
{
	list-style: none;
	margin: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	display: block;
}

/* === Clearfix === */
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}



@font-face 
{
	font-family: 'LicensePlate';
    src: url('../font/licenseplate-webfont.eot');
    src: url('../font/licenseplate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/licenseplate-webfont.woff') format('woff'),
         url('../font/licenseplate-webfont.ttf') format('truetype'),
         url('../font/licenseplate-webfont.svg#license_plateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*== Wrapper */

#wrapper{
	width: 980px;
	margin: 0 auto;
	position: relative;
	min-height: 695px;
}

/* === Menu section === */

#menu
{
	width: 100%;
	position: relative;
	background: transparent url("../img/menu1366x768.png") no-repeat 50% 0%;
	min-height: 695px;
	margin-bottom: 200px;
}

.about
{
	position: absolute;
	bottom:246px;
	right:118px;
}

.about a
{
	display: block;
	color: #ea7288;
	font-size: 80.93px;
}

.projects
{
	position: absolute;
	top: 284px;
	left: 189px;
}

.projects a
{
	color: #fe617b;
	font-size: 74.71px;
}

.services
{
	position: absolute;
	bottom: 319px;
	right: 262px;
}

.services a
{
	color: #cb7983;
	font-size: 84.77px;
}

.coments
{
	position: absolute;
	top:220px;
	right: 338px;
}

.coments a
{
	color: #fc5e6d;
	font-size: 53.2px;
}

.contacts
{
	position: absolute;
	top: 218px;
	left:128px;
}

.contacts a
{
	color: #faacac;
	font-size: 58.35px;
}

.following
{
	position: absolute;
	bottom:327px;
	left:81px;
}

.following a
{
	color:#ed6771;
	font-size: 55.39px;
}

.video
{
	position: absolute;
	bottom: 324px;
	right: 38px;
}

.video a
{
	color: #fc747d;
	font-size: 42.18px;
}

.social
{
	position: absolute;
	top:36px;
	right:248px;
}

.social a
{
	color: #ed8392;
	font-size: 42.5px;
}

.find
{
	position: absolute;
	bottom: 277px;
	right: 32px;
}

.find a
{
	color: #fc4258;
	font-size: 44.09px;
}

.team
{
	position: absolute;
	top: 154px;
	right: 530px;
}

.team a
{
	color: #fe617b;
	font-size: 76.88px;
}

.information
{
	position: absolute;
	top:27px;
	left: 240px;
}

.information a
{
	color: #e64e60;
	font-size: 26.1px;
}

.photos
{
	position: absolute;
	top: 87px;
	left: 426px;
}

.photos a
{
	color:#f2a2a4;
	font-size: 61.76px;
}

.works
{
	position: absolute;
	top:158px;
	right:234px;
}

.works a
{
	color: #e66a84;
	font-size: 72.32px;
}

.skills
{
	position: absolute;
	top:283px;
	right:114px;
}

.skills a
{
	color: #faacac;
	font-size: 65.1px;
}

.fonts-display 
{
	font-family: 'Text Me One', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
}

/* === Menu burrons in blue color === */
.blue .about a{
	color: #145b9b;
}

.blue .projects a{
	color: #588ba4;
}

.blue .services a{
	color: #00a4be;
}

.blue .coments a{
	color: #1b8eb7;
}

.blue .contacts a{
	color: #145b9b;
}

.blue .following a{
	color:#89b0c1;
}

.blue .video a{
	color: #186db9;
}

.blue .social a{
	color: #1d8db5;
}

.blue .find a{
	color: #60bae3;
}

.blue .information a{
	color: #145b9b;
}

.blue .photos a{
	color:#01aec9;
}

.blue .works a{
	color: #588ba4;
}

.blue .team a{
	color: #60bae3;
}

.blue .skills a{
	color: #60bae3;
}


/* === Menu animation styles === */

#menu a 
{ 
	display: block;
} 

#menu a:hover
{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all .5s ease-in-out;
}

.works, .contacts, .find, .information,
.social, .photos, .comment, .services, .following
{
	-webkit-animation: rotate-lr 3s ease-in-out infinite alternate;
	-moz-animation: rotate-lr 3s ease-in-out infinite alternate;
	animation: rotate-lr 3s ease-in-out infinite alternate;
}

 .projects, .coments, .skills, .video,
 .team, .about
{
	-webkit-animation: rotate-rl 3s ease-in-out infinite alternate;
	-moz-animation: rotate-rl 3s ease-in-out infinite alternate;
	animation: rotate-rl 3s ease-in-out infinite alternate;
}

@-webkit-keyframes rotate-lr
{
    from{
        -webkit-transform:rotate(-3deg);
    }
    to{
        -webkit-transform:rotate(3deg);
    }
} 

@-webkit-keyframes rotate-rl
{
    from{
        -webkit-transform:rotate(3deg);
    }
    to{
        -webkit-transform:rotate(-3deg);
    }
} 

@-moz-keyframes rotate-lr
{
    from{
        -moz-transform:rotate(-3deg);
    }
    to{
        -moz-transform:rotate(3deg);
    }
} 

@-moz-keyframes rotate-rl
{
    from{
        -moz-transform:rotate(3deg);
    }
    to{
        -moz-transform:rotate(-3deg);
    }
} 
@keyframes rotate-lr
{
    from{
        transform:rotate(-3deg);
    }
    to{
        transform:rotate(3deg);
    }
} 

@keyframes rotate-rl
{
    from{
        transform:rotate(3deg);
    }
    to{
        transform:rotate(-3deg);
    }
} 
